<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list">

      <a class="item item-avatar" href="#" ng-repeat="profile in profiles">
        <img src="venkman.jpg">
        <h2>{{profile.displayName}}</h2>
        <p>{{profile.emailaddress}}</p>
      </a>

  </div>
  </ion-content>
</ion-view>
